ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: none;
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

header {
    padding-left: 0!important;
}

header .logo {
    background-color: #429ad9;
}

.logo img {
    /* width: 100%; */
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.logo span {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.nav a {
    display: block;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    padding-left: 30px;
}

.nav a:hover {
    background-color: #fff;
    color: #333;
}

a::before {
    vertical-align: middle;
    padding-right: 3px;
}

@media screen and (max-width: 991px) {
    .nav li {
        float: left;
        width: 20%;
    }
}

@media screen and (max-width: 767px) {
    .nav li a {
        font-size: 14px;
    }
    .new li:nth-child(1) {
        width: 100!important;
    }
    .new li {
        width: 50%!important;
    }
}

.new ul li {
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.new ul li:nth-child(1) {
    width: 50%;
    height: 266px;
    padding: 0 10px;
}

.new ul li:nth-child(1) a p {
    line-height: 41px;
    font-size: 20px;
}

.new ul li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.new ul li a img {
    width: 100%;
    height: 100%;
}

.new ul li a p {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    height: 41px;
    font-size: 12px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    padding-top: 5px;
}

.publish {
    border-top: 1px solid #ccc;
}

.pic {
    margin-top: 10px;
}

.publish .row {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.pic img {
    width: 100%;
}

aside img {
    width: 100%;
}

.hot {
    display: block;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding-left: 10px;
}

.hot span {
    border-radius: 0;
    margin-bottom: 10px;
}